*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: white;
    width: 250px;
    border-radius: 8px;
    text-align: center;
    border: none;
    box-shadow: 0 0 5px 0 black;
}

.month{
    background-color: red;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 10px 10px 0 0;
}

.weekday{
    margin-bottom:10px ;
}

.day{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    border-radius: 10px 10px 0 0;
}
.year{
    margin-bottom: 10px;

}